Daily_Weather_Report.json
{
  "name": "Daily_Weather_Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "cd888a12-0270-4b2f-9491-08621b3372b0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "cityName": "Tirupati"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "332962e8-a379-4cc3-afa0-141db9849f24",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "rXQ05BCnYwhjcZbJ",
          "name": "My_weather_key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27422e76-48cb-4dcc-a4dd-1f1e9a1ce861",
              "name": "weather_summary",
              "value": "=Current Temp: {{ $json.main.temp }}°C. Condition: {{ $json.weather[0].description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "06350ad2-c221-405e-a2bb-f5ef372f967a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fromEmail": "mukeshwork6@gmail.com",
        "toEmail": "jngmmukesh@gmail.com",
        "subject": "Today Weather Report",
        "html": "=<p>Hello Mukesh,</p>\n<p style=\"font-size: 16px; color: #333;\">{{ $json.weather_summary }}</p>\n<p>This report was automatically generated by n8n.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        624,
        0
      ],
      "id": "e93c9989-2240-4841-a4e1-13aaf35edcf2",
      "name": "Send email",
      "webhookId": "ddc90f07-a601-40f8-a1f5-7c63e0bb6cae",
      "credentials": {
        "smtp": {
          "id": "yk7PzBTQrorwRAlX",
          "name": "My_Gmail_SMTP"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "70369fb3-f02c-4935-ac5f-0f31439998d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "135918699735e65719a7e28718cd0a34bec888b9fcbdd54f9a583e769170c0cb"
  },
  "id": "BSHPwONU1CaLPAGW",
  "tags": []
}
